.canvas {
  position: relative;
  height: 100vh;
  width: 100%;

  background: #f0f0f0;
  font-size: 14px !important;
}

.infinite-viewer {
  width: 100%;
  height: 100%;

  background-image: radial-gradient(#c4c4c4 1px, transparent 0px);
  background-size: 10px 10px;
}

.viewport {
  display: flex;
  position: absolute;
}

.viewport > button {
  transition: 0.2s ease;
}

.infinite-viewer-scroll-thumb {
  background-color: #9f9f9f !important;
}

.grid-item {
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4dfb886;
}

.grid-item-grabbing {
  cursor: grabbing;
}

.grid-item-static {
  background: repeating-radial-gradient(
    100000px 10000px at 103000px 54000px,
    #b4b4b4 0 0.0001%,
    #c4dfb886 0 0.002%
  );
  cursor: not-allowed !important;
}

.grid-item-options {
  top: 0px;
  right: -45px;
  opacity: 0;
  cursor: pointer;

  transition: 0.2s ease-out;
  position: absolute;
}

.react-grid-item:hover .grid-item-options {
  opacity: 1;
}

.grid-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item-options button {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1;
  margin: 0 0.5rem 0.5rem 0;
  padding: 2px;

  border: 0;
  border-radius: 2px;
  cursor: pointer;
  background-color: #bebebe;

  transition: 0.2s ease;
}

.grid-item-options button:hover {
  background-color: #a1a1a1;
}

.rotate-0 {
  rotate: 0deg;
}

.rotate-90 {
  rotate: 90deg;
}

.rotate-180 {
  rotate: 180deg;
}

.rotate-270 {
  rotate: 270deg;
}

.rotate-360 {
  rotate: 360deg;
}
