@import url(./Input.styles.css);
@import url(./Accordion.styles.css);
@import url(./Aside.styles.css);
@import url(./Preview.styles.css);

:root {
  --card-background-color: rgb(255, 255, 255);
}

*,
::after,
::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: box-sizing;
}

body {
  background: rgb(237, 232, 232);
}

h3 {
  font-variation-settings: "wght" 650;
}
h1 {
  font-variation-settings: "wght" 850;
}
h2 {
  font-variation-settings: "wght" 750;
}

h1,
h2,
h3,
h4,
h5,
small,
button,
p {
  color: #393939;
}

hr {
  margin-bottom: 0.5rem;
}

main {
  border: 1px solid rgba(128, 128, 128, 0.35);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

.droppable-element {
  width: 200px;
  text-align: center;
  background: transparent;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

