.static-container {
  position: relative;
  
  transition: 0.2s ease;
  border: 1px solid black;
  background: #9bc4e2;
}

.static-container .react-grid-layout {
  height: inherit;
  width: inherit;
}

.static-container:hover button {
  display: flex;
}

.add-right-button {
  display: none;
  height: 100%;
  width: 12px;

  top: 0;
  font-size: 18px;
  position: absolute;
}

.add-right-button::before {
  content: "";
  height: 100%;
  border: 6px solid transparent;

  position: absolute;
  left: -6px;
}

.remove-top-button {
  display: none;
  height: 12px;
  width: 100%;

  padding: 8px;
  line-height: 2;
  font-size: 18px;

  top: 0;
  position: absolute;
}

.remove-top-button::after {
  content: "";
  width: 100%;
  border-bottom: 10px solid transparent;

  position: absolute;
  bottom: -6px;
}
