:root {
  --card-background-color: rgb(255, 255, 255);
}

*,
::after,
::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: box-sizing;
}

body {
  background: rgb(237, 232, 232);
}
