.asterisk::after {
  content: "*";
  color: red;
}

.layers > div {
  margin-bottom: 0.35rem;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 50px;

  padding: 0.5rem;
  border-radius: 0.25rem;
}

.block:hover {
  background-color: #f8f8f8;
}

.disabled {
  background-color: #e2e2e2;
}

.disabled:hover {
  background-color: #d2d2d2;
}

.block button {
  background-color: transparent;
  border: none;
  color: "#393939";
}

.block > div {
  display: flex;
  align-items: center;
}
