:root {
  --card-background-color: rgb(255, 255, 255);
}

*,
::after,
::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: box-sizing;
}

body {
  background: rgb(237, 232, 232);
  color: #393939;
}

h3 {
  font-variation-settings: "wght" 650;
}
h1 {
  font-variation-settings: "wght" 850;
}
h2 {
  font-variation-settings: "wght" 750;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

html:has(.no-relative),
body:has(.no-relative) {
  margin: 8px;
  padding: 8px;
  position: static;
}

html:has(.no-relative) {
  position: relative;
}
